/* https://www.youtube.com/watch?v=PwWHL3RyQgk */
body {
    background-color:#242b38;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 5%;
}

a {
    color: #fafafa;
}

h1 {
    font-size: 1.4em;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-flex;
    margin: 10px 25px 35px 25px;
    font-size: 1.3em;
}

.nav-item a {
    transition: all 0.3s ease 0s;
}

.nav-item a:hover {
    color: #25D09D;
}


@media screen and (max-width: 935px) {
    nav {
        justify-content: flex-start;
    }
    .nav-links li {
        display: flex;
    }
}

#colour-vote {
    color: #fafafa;
    text-align: center;
}

#colour-buttons {
    display: flex;
    justify-content: center;
    margin: 0% 10%;
    /*      TO REMOVE       */
    opacity: 40%;
}

.colour-button {
    width: 200px;
    height: 75px;
    margin: 20px 30px;
}

.colour-button p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#red-button {
    background-color: red;
}

#blue-button {
    background-color:blue;
}

#green-button {
    background-color: green;
}