/* https://www.youtube.com/watch?v=PwWHL3RyQgk */

* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color:#242b38;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #384357;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3.5vh 0;
    font-size: 0.7em;
    font-weight: bold;
}

a {
    color: #fafafa;
    text-decoration: none;
}

p {
    color: #fafafa;
    text-align: justify;
}

#brief {
    font-size: 25px;
    margin: 2% 10%;
}

main {
    padding-top: 2%;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-flex;
    margin: 0px 2.3vw 0px 2.3vw;
    font-size: 2.5vw;
}

.nav-item a {
    transition: color 0.3s ease 0s;
}

.nav-item a:hover {
    color: #25D09D;
}

.nav-item a:active {
    color: #25D09D;
}

#selected-nav a {
    color: #25D09D;
}

h1 {
    font-size: 4vw;
}

#explore-form {
    text-align: center;
}

#explore-form input {
    margin: 20px 2.5vw;
    padding: 1.2vw 4.5vw;
    font-size: 3vw;
    color: #fafafa;
    background-color: #384357;
    border: 1px solid #fafafa;
}

#colour-vote {
    color: #fafafa;
    text-align: center;
    justify-content: center;
}

#colour-buttons {
    display: flex;
    justify-content: center;
}

#colour-button {
    margin: 20px 2.5vw;
    padding: 1.2vw 4.5vw;
    font-size: 3vw;
    color: #fafafa;
    background-color: #384357;
    border: 1px solid #fafafa;
}

@media screen and (min-width: 1000px) {
    .nav-links li {
        font-size: 25px;
    }
}

@media screen and (min-width: 850px) {
    h1 {
        font-size: 35px;
    }
}

#artist-statement-section {
    margin: auto;
    width: 85%;
    color: #fafafa;
    font-size: 10px;
}

#artist-statement {
    text-align: justify;
}

#artist-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: center;
}

#artist-img img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 30vh;
    max-height: 40vh;
    border: solid 2px #384357;
}

#exhibition-form {
    align-items: center;
    display: inline-block;
    transition: all 1s ease;
    width: 100%;
}

#countdown {
    margin: 5% auto auto auto;
    text-align: center;
    color: #fafafa;
    font-size: 32px;
}

#form-keyword {
    margin: 5% auto 5% auto;
    text-align: center;
    color: #fafafa;
    font-size: 18px;
}


#form-options {
    margin-left: 10% auto 0% auto;
    text-align: center;
    display: block;
    width: 40%;
}

.form-option-button {
     display: block;
     margin-left: 50px;
     margin-right: 5px;
     margin-bottom: 8%;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 12px;
     color: #fafafa;
     background-color: #384357;
     border: 1px solid #fafafa;
}

#form-vote-counts {
    margin: 10% auto 0% auto;
    text-align: center;
    width: 40%;
    display: block;
}

#form-vote-counts h3 {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.vote-count {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
