/* https://www.youtube.com/watch?v=PwWHL3RyQgk */

* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color:#242b38;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #384357;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3.5vh 0;
    font-size: 0.7em;
    font-weight: bold;
}

a {
    color: #fafafa;
    text-decoration: none;
}

p {
    color: #fafafa;
    text-align: justify;
}

#brief {
    font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;
}

main {
    padding-top: 2%;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-flex;
    margin: 0px 2.3vw 0px 2.3vw;
    font-size: 2.5vw;
}

.nav-item a {
    transition: color 0.3s ease 0s;
}

.nav-item a:hover {
    color: #25D09D;
}

.nav-item a:active {
    color: #25D09D;
}

#selected-nav a {
    color: #25D09D;
}

h1 {
    font-size: 4vw;
}

#explore-form {
    margin-top: 10%;
    text-align: center;
}

#explore-form input {
    margin-top: 5px;
    padding: 4vw 10vw;
    font-size: 24px;
    color: #fafafa;
    background-color: #384357;
    border: 1px solid #fafafa;
}

#colour-vote {
    color: #fafafa;
    text-align: center;
    justify-content: center;
}

#colour-buttons {
    display: flex;
    justify-content: center;
}

#colour-button {
    margin: 20px 2.5vw;
    padding: 1.2vw 4.5vw;
    font-size: 3vw;
    color: #fafafa;
    background-color: #384357;
    border: 1px solid #fafafa;
}

@media screen and (min-width: 1000px) {
    .nav-links li {
        font-size: 25px;
    }
}

@media screen and (min-width: 850px) {
    h1 {
        font-size: 35px;
    }
}

#artist-statement-section {
    margin: auto;
    margin-top: 10%;
    width: 85%;
    color: #fafafa;
    font-size: 12px;
}

#artist-statement {
    text-align: justify;
}

#artist-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    text-align: center;
}

#artist-img img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 30vh;
    max-height: 40vh;
    border: solid 2px #384357;
}

#exhibition-form {
    align-items: center;
    display: inline-block;
    transition: all 1s ease;
    width: 100%;
    margin-top: 10%;
}

#exhibition-form-placeholder-text {
    margin: auto;
    margin-top: 50%;
    width: 80%;
    padding: 10px;
    text-align: center;
    opacity: 40%;
    color: #fafafa;
    font-size: 1.3em;
}

#countdown {
    margin: 5% auto auto auto;
    text-align: center;
    color: #fafafa;
    font-size: 32px;
}

#form-keyword {
    margin: 5% auto 5% auto;
    text-align: center;
    color: #fafafa;
    font-size: 18px;
}


#form-options {
    margin: 10% auto 0% auto;
    text-align: center;
    display: block;
    width: 80%;
}

.form-option-button {
     display: block;
     margin-left: 50px;
     margin-right: 5px;
     margin-bottom: 8%;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 12px;
     color: #fafafa;
     background-color: #384357;
     border: 1px solid #fafafa;
}

#form-vote-counts {
    margin: 10% auto 0% auto;
    text-align: center;
    display: block;
    width: 80%;
    height: 100%;
    padding-top: 2px;
}

#form-vote-counts h3 {
    display: block;
     margin-left: 50px;
     margin-right: 5px;
     width: 100%;
     padding-top: 15px;
     padding-bottom: 13px;
     font-size: 12px;
     color: #fafafa;
}

.project {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 8%;
    border-bottom: solid 2px #384357;
    padding-bottom: 10px;
}

.project-title {
    text-align: center;
    color: #25D09D;
    font-size: 6vw;
}

.project-img {
    width: 800px;
    max-width: 80%;
    max-height: 60%;
    display: block;
    margin: auto;
    border: solid 2px #384357;
}

#project-video {
    border: solid 3px #384357;
}

.project-text {
    font-size: 12px;
}

.project-text p {
    text-align: justify;
    text-align-last: center;
}

.project-quotes {
    font-style: italic;
    font-size: 10px;
}

#about-brief {
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
    text-align-last: center;
    margin-top: 5%;
    font-size: 14px;
}

#about-acknowledgements {
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    bottom: 5%;
    top: auto;
    left: 0;
    right: 0;
    text-align: justify;
    text-align-last: center;
    font-size: 14px;
}